html {
  font-size: 18px;
}

body  {
  font-family: helvetica;
  line-height: 1.4;
}

/*div{
  border:1px red solid;
}*/

.container{
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position:top;
  /*border:1px red solid;*/
  display: flex;
}

 .navigation{
 width: 960px;
 /*border:1px red solid;*/
 height:30rem;
}

nav {
color:white;
font-size: 1rem;
background-color: cadetblue;
margin:1rem 2rem;
/*border: 1px red solid;*/
display: flex;

}

nav ul {
display:inline-flex;
align-items: center;
/*border: 1px red solid;*/
}

ul {
padding: 1rem 2rem;
width:960px;
justify-content: space-between;
align-items: center;
}

li {
  margin-right: 2rem;
  display:inline;

  }

ul .logos {
  display:flex;
  width:auto;
}

#logo {
  height: 1.5rem;
  margin-right: 1rem;
}

.buttons {
  display: flex;
}

.see {
  font-weight: bold;
  font-size:2rem;
  line-height: 1.2;
  color: black;
  background-color: white;
  padding: 1.5rem 5rem;
  /*border:1px red solid;*/
  display: flex;
  position:relative;
  margin-top:10rem;
  
  }

  .header2,.see {
    justify-content: flex-end;
}

.header2 {
  display: flex;
}
