html {
  font-size: 18px;
}

body  {
  font-family: helvetica;
  line-height: 1.4;
}

/*div{
  border:1px red solid;
}*/

.container{
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position:top;
  /*border:1px red solid;*/
  display: flex;
}

 .navigation{
 width: 960px;
 /*border:1px red solid;*/
 height:30rem;
}

nav {
color:white;
font-size: 1rem;
background-color: cadetblue;
margin:1rem 2rem;
/*border: 1px red solid;*/
display: flex;

}

nav ul {
display:inline-flex;
align-items: center;
/*border: 1px red solid;*/
}

ul {
padding: 1rem 2rem;
width:960px;
justify-content: space-between;
align-items: center;
}

li {
  margin-right: 2rem;
  display:inline;

  }

ul .logos {
  display:flex;
  width:auto;
}

#logo {
  height: 1.5rem;
  margin-right: 1rem;
}

.buttons {
  display: flex;
}

.see {
  font-weight: bold;
  font-size:2rem;
  line-height: 1.2;
  color: black;
  background-color: white;
  padding: 1.5rem 5rem;
  /*border:1px red solid;*/
  display: flex;
  position:relative;
  margin-top:10rem;

  }

  .header2,.see {
    justify-content: flex-end;
}

.header2 {
  display: flex;
}




.icons {
  display:flex;
  flex-direction: row;
  /*border:1px red solid;*/
  justify-content: center;
  margin-top:3rem;
}

.delivery,.exams,.custom{
  display: flex;
  flex-direction: column;
  /*border:1px red solid;*/
  max-height: 8rem;
}

.exams,.custom {
margin-right:6rem;
}

.truckimg,.paperimg,.rulerimg {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  /*border:1px red solid;*/

}

#paper{
  max-width:3.5rem;
}

#truck,#ruler {
  width:5rem;
}

.icon,span{
 /*border:1px red solid;*/
 text-align:center;
 display: block;
}



#appointments,#philosophy {
  font-weight: bold;
  color:white;
  background-color: cadetblue;
  font-size: 1rem;
  width:10rem;
  padding-left: 1.25rem;
  /*border:1px red solid;*/
  margin-bottom:1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.info{
  display:flex;
  flex-direction: row;
  margin-top:3rem;
  /*border:1px red solid;*/
  flex-wrap: wrap;
}

.appointments,.philosophy{
/*border:1px red solid;*/
flex-direction: column;
max-width: 35%;
}

.contact{
  flex-direction: row;
  display:flex;
  justify-content: center;
  margin-bottom:5rem;
}

.contact,.philosophy{
  margin-right:5%;
}



footer {
  background-color: azure;
  display: flex;
/*  border:1px red solid;*/
}

.footerimg img{
  height:1.5rem;
  /*border:1px red solid;*/
  padding-right: 1rem;
}

.footer {
/*  border:1px red solid;*/
  flex-direction: row;
  display: flex;
  margin:4rem;
}


@media only screen and (max-width:1024px){
  .container{
    max-width:1024px;
  }

  nav {
    margin:0 auto;
    width:1024px;
  }

  .navigation{
    height:22rem;
  }

  .see {
    font-size:1.33rem;
    margin-top: 5rem;
    padding:0.75rem 4rem;
    margin-right: 2rem;
  }
}
