html {
  font-size: 18px;
}

body  {
  font-family: helvetica;
  line-height: 1.4;

}

/*div{
  border:1px red solid;
}*/

.container{
  max-width: 960px;
  margin: 0 auto;
/*  border:1px red solid;*/
}

.header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position:top;
  /*border:1px red solid;*/
  width:100%;
  height: 30rem;
  margin: 0 auto;

  display:flex;
  }

  .navigation {
    width:960px;
    justify-content: space-between;
    /*border: 1px solid red;*/
  }


nav {
color:white;
font-size: 1rem;
background-color: cadetblue;
/*border: 1px red solid;*/
margin: 1rem 2rem;
}

nav ul {
display:flex;
align-items: center;
/*border: 1px red solid;*/
justify-content: space-between
}

ul {
padding: 1rem 2rem;
}

li {
  margin-right: 2rem;
   }


.mobile-nav {
  display:none;
  }

.whitelogoimg img{
  height: 1.5rem;
  margin-right: 1rem;
}


.buttons  {
  display: flex;
/*  border:1px red solid;*/
  }

.logo{
  display:flex;
/*  border:1px red solid;*/
}

.see {
  font-weight: bold;
  font-size:2rem;
  line-height: 1.2;
  color: black;
  background-color: white;
  padding: 1.5rem 5rem;
  /*border:1px red solid;*/
  display: flex;
  position:relative;
  margin-top:10rem;

  }

  .header2 {
    display: flex;
  }

  .header2,.see{
    justify-content: flex-end;
   }






.icons {
  display:flex;
  flex-direction: row;
/*  border:1px red solid;*/
  justify-content: center;
  margin-top:3rem;
}

.delivery,.exams,.custom{
  display: flex;
  flex-direction: column;
/*  border:1px red solid;*/
  max-height: 8rem;
}

.exams,.custom {
margin-right:6rem;
}

.truckimg,.paperimg,.rulerimg {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  /*border:1px red solid;*/

}

#paper{
  max-width:3.5rem;
}

#truck,#ruler {
  width:5rem;
}

.icon,span{
 /*border:1px red solid;*/
 text-align:center;
 display: block;
}



#appointments,#philosophy {
  font-weight: bold;
  color:white;
  background-color: cadetblue;
  font-size: 1rem;
  width:10rem;
  padding-left: 1.25rem;
  /*border:1px red solid;*/
  margin-bottom:1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.info{
  display:flex;
  flex-direction: row;
  margin-top:3rem;
  /*border:1px red solid;*/
  flex-wrap: wrap;
}

.appointments,.philosophy{
/*border:1px red solid;*/
flex-direction: column;
max-width: 35%;
}

.contact{
  flex-direction: row;
  display:flex;
  justify-content: center;
  margin-bottom:5rem;
}

.contact,.philosophy{
  margin-right:5%;
}



footer {
  background-color: azure;
  display: flex;
  /*border:1px red solid;*/
}

.footerimg img{
  height:1.5rem;
  /*border:1px red solid;*/
  padding-right: 1rem;
}

 .footer {
  /*border:1px red solid;*/
  flex-direction: row;
  display: flex;
  margin:4rem;
  }

  footer .container{
    width: 960px;
  }





@media only screen and (max-width:1024px){

  .container{
    max-width:1024px;
    /*border:1px red solid;*/
  }

  nav {
    margin:0 auto;
    width:100%;
    /*border:1px red solid;*/
    }

 .header{
   height:22rem;
   /*border:1px red solid;*/

 }

.container,.navigation{
  width:100%;
  /*border:1px red solid;*/
}


  .see {
    font-size:1.33rem;
    margin-top: 5rem;
    padding:0.75rem 4rem;
    margin-right: 2rem;
    width:auto;
  }

  footer{
    max-width:1024px;
  }

}

@media only screen and (max-width:470px){
  .container{
    max-width:470px;
  }

.buttons {
  display:none;
  }

  .mobile-nav {
    display:flex;
    justify-content: center;
    /*border:1px red solid*/
  }

   nav ul {

    width:auto;
    /*border:1px red solid*/
  }

  .container,.mobile-nav {
    width: 100%;
  /*  border:1px red solid*/
  }

  ul .mobile-nav {
    justify-content: flex-end;
    /*border:1px red solid*/
  }

  .header{
    background-position: 20%;
    height:17rem;
  }

  #logowords {
    display: none;
  }

  .see {
    justify-content: center;
    padding:1rem;
    width:100%;
    margin-right: 0;
    /*border:1px red solid;*/
    margin-top: 9rem;
   }

   .header2,.see {
     justify-content: center;
   }

   .icons {
     flex-direction: column;
     /*border:1px red solid;*/
     margin: 3.77rem auto;

    }

    .delivery,.exams,.custom {
      width:100%;
     }

     .truckimg,.rulerimg,.papering {
       margin-top: 1.54rem;
      }

      .icon,span{
       font-size:0.77rem;
      }

     .contact {
       flex-direction: column;
       max-width: 100%;
     }

     .philosophy,.appointments{
       max-width:100%;
      /* border:1px red solid;*/

      }

      #philosophy,#appointments {
        width: 100%;
        /*border:1px red solid;*/
      }

      .philosophy,p{
      width:100%;
      font-size: .77rem;

      }

      .philosophy {
      margin-bottom: 4rem;
      }

      footer span {
        display: none;
      }

      footer {
        display: flex;
      }

    .footer,.footerimg {
      justify-content: center;
      }


  }
